/* Make comma separated lists easier */
.comma-separated:after {
    color: var(--bulma-body-color);
    content: ',';
}

.comma-separated:last-of-type:after {
    content: '';
}

.book {
    border-top: 2px solid var(--bulma-scheme-main-ter);
    padding: 10px 0;
}

.book-details-row {
    line-height: 2;
}

.book-details-row--field {
    display: inline-block;
    color: #7f7f7f;
    border-bottom: 1px dotted #7f7f7f;
    width: 180px;
    margin-right: 8px;
    margin-bottom: 0;
    font-weight: normal;
}
.book-details-row--field span {
    float: left;
    background: var(--bulma-body-background-color);
    position: relative;
    top: 2px;
    padding-right: 4px;
    line-height: 1em;
}

@media (max-width: 641px) {
    .book-details-row--field {
        width: 4em;
    }
}

.text-aligned-right {
    text-align: right;
}

article.book .tag {
    cursor: help;
    font-weight: bold;
}


/* Bulma fixes */
.download-buttons .buttons:not(:last-child) {
    margin-bottom: 0.1rem;
}

.download-buttons .dropdown > .dropdown-menu {
    min-width: auto;
}

.old-like-margin {
    margin-bottom: 1rem !important;
}
